a {
    text-decoration: none;
}

// ==============Top Nav Bar ================
.main-top-nav {
    height: 30px;
    width: 100%;
    background-color: #F5F5F5;
    line-height: 1;
    letter-spacing: .03125em;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    .nav-wrapper {
    width: 876px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
    }
    li {
        list-style: none;
        border-right: 1px solid #D8D8D8;
        padding: 0 8px 0 14px;
        &:last-child {
            display: flex;
            align-content: center;
            border: 0;
        }
    }
    a {
        color: #666;
        font-size: 11px;
        font-weight: 400;
    }
    .zipcode {
        color: #c00;
    }
}

.tcom-icon-pencil {
    width: 11px;
    height: 11px;
    color: #666;
    fill: #666;
    margin-left: 0;
}

.tcom-icon-search {
    width: 10px;
    height: 10px;
    color: #999;
    fill: #999;
    display: inline-block;
}

//=================Toyota Logo Main Nav ============
.toy-logo-nav {
    height: 60px;
    border-bottom: 1px solid #D8D8D8;
    width: 100%; 
    letter-spacing: .03125em;
    display: flex;
    line-height: 1em;
        font-size: 14px;
    .toy-logo-nav-wrapper{
    width: 876px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
    
     img {
        align-self: initial;
        margin-right: 119px;
    }
    }
    li {
        list-style: none;
        padding: 0 18px;
        letter-spacing: normal;
        word-spacing: normal;
        
    }
    a {
        color: black;
    }
    i {
        color: #CB2027;
        font-size: 1em;
    }
    
}
