@import 'build-tacoma';
$site-width: 876px;

a {
    text-decoration: none;
}

// ==============Top Nav Bar ================
.main-top-nav {
    height: 30px;
    width: 100%;
    background-color: #F5F5F5;
    line-height: 1;
    letter-spacing: .03125em;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    .nav-wrapper {
        width: 876px;
        display: flex;
        margin: 0 auto;
        justify-content: flex-end;
        align-items: center;
    }
    li {
        list-style: none;
        border-right: 1px solid #D8D8D8;
        padding: 0 8px 0 14px;
        &:last-child {
            display: flex;
            align-content: center;
            border: 0;
        }
    }
    a {
        color: #666;
        font-size: 11px;
        font-weight: 400;
    }
    .zipcode {
        color: #c00;
    }
}

.tcom-icon-pencil {
    width: 11px;
    height: 11px;
    color: #666;
    fill: #666;
    margin-left: 0;
}

.tcom-icon-search {
    width: 10px;
    height: 10px;
    color: #999;
    fill: #999;
    display: inline-block;
}

//=================Toyota Logo Main Nav ============
.toy-logo-nav {
    height: 60px;
    border-bottom: 1px solid #D8D8D8;
    width: 100%;
    letter-spacing: .03125em;
    display: flex;
    line-height: 1em;
    font-size: 14px;
   img {
    width: 124px;
    height: 32px;
    cursor: pointer;
   } 
    .toy-logo-nav-wrapper {
        width: 876px;
        display: flex;
        margin: 0 auto;
        justify-content: flex-end;
        align-items: center;
        img {
            align-self: initial;
            margin-right: 119px;
        }
    }
    li {
        list-style: none;
        padding: 0 18px;
        letter-spacing: normal;
        word-spacing: normal;
        &:hover {
            color: red;
        }
    }
    a {
        color: #333;
         &:hover {
            color: red;
        }
    }
    i {
        color: #CB2027;
        font-size: 1em;
    }
}
//================ Build all View ===============
.build-all-header-wrapper {
    margin: 0 auto;
    width: 876px;
    padding-top: 20px;
    h1 {
        font-size: 1.625rem;
        margin-top: 8px;
        margin-bottom: 15px;
    }
    h2 {
        font-weight: normal;
        font-size: .7445rem;
    }
    h3 {
        margin-top: 15px;
        border-top: 1px solid #D8D8D8;
        padding-left: 6px;
        padding-top: 20px;
        font-size: 1.625rem;
    }
    
}
.build-all-section-container {
    width: 876px;
    display: flex;
    margin: 0 auto;
    .build-all-wrap{
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        padding:20px 30px;
        cursor: pointer;
        &:hover{
        border: 1px solid red;
        }
    img {
        height: 65px;
    }
    car-title{
        padding-top: 20px;
        padding-left: 7%;
        margin-bottom: 3px;
        font-weight: 900;
        span{
            padding-top: 15px;
            font-weight: normal;
        }
    }
    .msrp-build-all {
    padding-left: 7%;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 13px;
    span {
        font-weight: 900;
        sup { 
        vertical-align: super;
        font-size: smaller;
    }   
    }
}
.as-shown {
    padding-left: 7%;
    margin-top: 5px;
    color: #999;
    font-size: 10px;
}
    }
}

// ==================Tacoma Build =====================

.gray-half-top-wrap {
        height: 202px;
        width: 100%;
        background-color: #EDF0F5;
        position: absolute;
        top: 90px;
        z-index: -100;
    }

.build-tacoma{
    background-color: #252525;
    height: 85px;
    .tacoma-nav-container {
        width: $site-width;
        display: flex;
        margin: 0 auto;
        color:#FCEFEF;
        div {
            height: 85px;
            font-size: 13px;
            text-align: center;
            letter-spacing: .025em;
            width: 14.2857%;
            border-left: 1px solid#444444;
            display: flex;
            justify-content: center;
            span{
                display: flex;
                align-self: center;
            }
            &:last-child {
                border-right: 1px solid #444444;
            }
            svg {
                fill: #FCEFEF;
            }
            
        }
    }
}

