
$site-width: 977px;
$build-section-header: 30px; 

a {
    text-decoration: none;
} // ==============Top Nav Bar ================
.main-top-nav {
    height: 30px;
    width: 100%;
    background-color: #F5F5F5;
    line-height: 1;
    letter-spacing: .03125em;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    .nav-wrapper {
        width: $site-width;
        display: flex;
        margin: 0 auto;
        justify-content: flex-end;
        align-items: center;
    }
    li {
        list-style: none;
        border-right: 1px solid #D8D8D8;
        padding: 0 8px 0 14px;
        &:last-child {
            display: flex;
            align-content: center;
            border: 0;
        }
    }
    a {
        color: #666;
        font-size: 11px;
        font-weight: 400;
    }
    .zipcode {
        color: #c00;
    }
}

.tcom-icon-pencil {
    width: 11px;
    height: 11px;
    color: #666;
    fill: #666;
    margin-left: 0;
}

.tcom-icon-search {
    width: 10px;
    height: 10px;
    color: #999;
    fill: #999;
    display: inline-block;
} //=================Toyota Logo Main Nav ============
.toy-logo-nav {
    height: 60px;
    border-bottom: 1px solid #D8D8D8;
    width: 100%;
    letter-spacing: .03125em;
    display: flex;
    line-height: 1em;
    font-size: 14px;
    padding-right: 8px;
    img {
        width: 131px;
        cursor: pointer;
    }
    .toy-logo-nav-wrapper {
        width: $site-width;
        display: flex;
        margin: 0 auto;
        justify-content: flex-end;
        align-items: center;
        img {
            align-self: initial;
            margin-right: 190px;
        }
    }
    li {
        list-style: none;
        padding: 0 18px;
        letter-spacing: normal;
        word-spacing: normal;
        &:hover {
            color: red;
        }
    }
    a {
        color: #333;
        &:hover {
            color: red;
        }
    }
    i {
        color: #CB2027;
        font-size: 1em;
    }
} //================ Build all View ===============
.build-all-header-wrapper {
    margin: 0 auto;
    width: $site-width;
    padding-top: 20px;
    h1 {
        font-size: 1.625rem;
        margin-top: 8px;
        margin-bottom: 15px;
    }
    h2 {
        font-weight: normal;
        font-size: .7445rem;
    }
    h3 {
        margin-top: 15px;
        border-top: 1px solid #D8D8D8;
        padding-left: 6px;
        padding-top: 20px;
        font-size: 1.625rem;
    }
}
.carsandvanswrap {
    width: $site-width;
    max-width: $site-width;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
.build-all-section-container {
    width: 25%;
    display: flex;
    .build-all-wrap {
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        padding: 20px 30px;
        cursor: pointer;
        &:hover {
            border: 1px solid red;
        }
        img {
            height: 65px;
        }
        car-title {
            padding-top: 20px;
            padding-left: 7%;
            margin-bottom: 3px;
            font-weight: 900;
            span {
                padding-top: 15px;
                font-weight: normal;
            }
        }
        .msrp-build-all {
            padding-left: 7%;
            margin-top: 5px;
            margin-bottom: 4px;
            font-size: 13px;
            span {
                font-weight: 900;
                sup {
                    vertical-align: super;
                    font-size: smaller;
                }
            }
        }
        .as-shown {
            padding-left: 7%;
            margin-top: 5px;
            color: #999;
            font-size: 10px;
        }
    }
} // ==================Tacoma Build =====================
.tacoma-build-top-wrap {
    position: relative;
    .your-build {
        position: absolute;
        text-align: left;
        font-size: 1.1rem;
        font-weight: 500;
        color: #2b2b2b;
        left: 477px;
    }
    .your-build:after {
        display: block;
        content: "";
        position: absolute;
        width: 30px;
        height: 1px;
        top: 26px;
        background: red;
    }
    .build-grab-title {
        position: absolute;
        text-align: left;
        font-size: 1.1rem;
        font-weight: 500;
        font-weight: 300;
        letter-spacing: -.02em;
        color: #000;
        left: 477px;
        top: 34px;
        font-size: 40px;
        max-width: 180px;
    }
}

.build-image-wrapper {
    width: $site-width;
    margin: 0 auto;
}

.gray-half-top-wrap {
    height: 202px;
    width: 100%;
    background-color: #EDF0F5;
    position: absolute;
    z-index: -100;
    top: 0;
}

.opening-build-price {
    color: #000;
    transition: color .3s ease 1s;
    width: auto;
    text-align: left;
    position: absolute;
    right: 467px;
    top: 20px;
}

.opening-build-msrp {
    text-align: left;
    position: absolute;
    right: 467px;
    top: 40px;
}

.build-request-top {
    text-align: left;
    position: absolute;
    right: 467px;
    top: 61px;
    width: 130px;
    height: 40px;
    text-align: center;
    border: 2px solid #666;
    font-size: 13px;
    background-color: transparent;
}

.build-tacoma {
    background-color: #252525;
    height: 85px;
    .tacoma-nav-container {
        width: $site-width;
        display: flex;
        margin: 0 auto;
        color: #FCEFEF;
        div {
            height: 85px;
            font-size: 13px;
            text-align: center;
            letter-spacing: .025em;
            width: 14.2857%;
            border-left: 1px solid#444444;
            display: flex;
            justify-content: center;
            flex-direction: column;
            p {
                display: flex;
                align-self: center;
                font-size: 15px;
                margin-top: 5px;
            }
            &:last-child {
                border-right: 1px solid #444444;
            }
            img{
                margin-bottom: 3px;
            }
            svg {
                fill: #FCEFEF;
            }
        }
    }
} // ============Tacoma Grade Bottom Build Section=======
.grades-wrapper {
    background-color: #EDF0F5;
}

.grades-view-container {
    width: $site-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grades-sub-header {
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}

#tacoma-grade-build-card {
    max-width: 310px;
    max-height: 620px;
    background-color: white;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .025); // width: calc(33% -12px);
    margin-bottom: 24px;
    img {
        width: 100%;
        padding: 15px;
    }
    .card-content {
        padding-left: 24px;
        padding-right: 15px;
        margin-bottom: 24px;
        button {
            border: none;
            background-color: white;
            color: red;
            font-size: .8rem;
            &:last-child {
                border-left: .5px solid gray;
            }
        }
        sup {
            vertical-align: super;
            font-size: .5rem;
            color: red;
        }
        #view-details-button {
            border-right: .5px solid gray;
        }
        .mpg {
            padding-left: 40px;
        }
    }
}
.grade-title {
    font-size: 1.5rem;
    line-height: 1.3em;
    font-weight: 500;
    color: #252525;
}
dl {
    display: list-item;
    list-style: none;
    line-height: 1.3;
    margin-bottom: 14px;
    color: #666;
    font-size: .875rem;
    padding-left: 8px;
    dd::before {
        content: "\25AA";
        font-size: 1rem;
        color: red;
        display: inline-block;
        width: .9em;
        margin-left: -.8em;
        padding-left: 1px;
    }
    dd {
        padding-left: 8px;
    }
}



.msrp-mpg-wrap {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 17px;
    margin-right: 75px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #242424;
    font-weight: 200;
    p {
        color: #666;
        font-size: 13px;
        margin-top: -2px;
    }
}

.card-content .msrp-mpg-wrap .mpg:before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 107px;
    width: 1px;
    height: 49px;
    background-color: #ccc;
    user-select: none;
}

.grade-card-footer {
    background-color: #F7F7F7;
    padding-top: 20px;
    padding-left: 25px;
    border-top: 1px solid #e5e5e5;
    div {
        margin-bottom: 6px;
        color: #333;
        font-size: 12px;
        font-weight: 600;
        &:last-child {
            margin-bottom: 0px;
            padding-bottom: 20px;
        }
    }
    .comes-in {
        color: #666;
        font-size: 12px;
        font-weight: 400;
    }
}

.select-button {
    margin: 0px 25px 37px;
    height: 50px;
    width: 260px;
    background-color: #2C2C2C;
    color: #F4F4F4;
    border: none;
}

.selected-button {
    margin-top: 0px; 
    margin-bottom: 33px;
    margin-right: 28px;
    margin-left: 22px;
    height: 48px;
    width: 266px;
    background-color: white;
    color: #0099FF;
    border: 2px solid #0099FF;
   
    i {
        display: inline-block;
        vertical-align: middle;
        font-weight: 200;
        font-size: 1.4rem;
        margin-right: 7px;
        padding-bottom: 6px;
    }

}
// =================== Cabs & Beds View -TRD ============
.cabs-header {
     margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}
.cabs-beds-view-container {
    width: $site-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#tacoma-cabs-beds-build-card {
    max-width: 310px;
    max-height: 620px;
    background-color: white;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .025); // width: calc(33% -12px);
    margin-bottom: 24px;
  
    .card-content {
        padding-left: 24px;
        padding-right: 15px;
        margin-bottom: 24px;
    }

}
.cabs-card-title {
    font-size: 1.5rem;
    line-height: 1.3em;
    font-weight: 500;
    color: #252525;
    padding-top:25px;
    margin-bottom:  50px;
}


.pick-button:hover {
    background-position: 0 100%;
}
.pick-button {
    margin: 0 20px 40px;
    display: inline-block;
    width: calc(100% - 40px);
    height: 50px;
    font-family: tcomBold,HelvNeueBold,Helvetica Bold,Arial Bold,Gadget,sans-serif;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    -webkit-appearance: none;
    background-position: 0 0;
    background-size: 100% 400%;
    color: #fff;
    background-color: #414141;
    background-image: linear-gradient(#414141,#2c2c2c,#2c2c2c,#2c2c2c);
    transition: background-position .3s;
}