@import 'variables';
.summary-header {
    margin-bottom: 40px;
    font-size: $build-section-header;
    text-align: center;
    padding-top: 50px;
}

.summary-container {
    width: $site-width;
    margin: 0 auto;
    padding: 36px 29px;
    max-width: 976px;
    background-color: #fff;
    letter-spacing: .033em;
    text-align: left;
    box-shadow: 0 0 6px rgba(43, 43, 43, .1);
    section {
        position: relative;
        width: 100%;
        padding: 30px 0;
    }
    h2 {
        margin-bottom: 7px;
        margin-left: 1px;
        max-width: 400px;
        color: #252525;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: .05em;
    }
    h3 {
        padding-left: 4px;
        max-width: 400px;
        font-size: 20px;
        letter-spacing: .033em;
        line-height: 1.25em;
        color: #2b2b2b
    }
    h4 {
        padding-left: 3px;
        color: #666;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
    }
    a {
        margin-left: 8px;
        color: #c00;
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
    }
    .price {
        display: block;
        position: absolute;
        top: 16px;
        right: 4px;
        color: #252525;
        font-size: 16px;
        line-height: 36px;
    }
    span {
        width: 70%;
        margin: 3px 0;
        padding-left: 3px;
        color: #252525;
        font-size: 16px;
        line-height: 36px;
    }
    .accessory_price,
    .package_price {
        float: right;
        color: #666;
        text-align: right;
        margin: 3px 0;
        padding-right: 2px;
    }
}

.model-msrp {
    border-top: 1px solid #ccc;
}

#total-msrp {
    color: #09f;
    font-size: 24px;
}

.summary-buttons {
    margin-top: 33px;
    padding-right: 4px;
    padding-left: 1px;
    display: flex;
    div {
        position: relative;
        top: auto;
        left: auto;
        width: 291px;
        margin-right: 20px;
        height: auto;
        background: #161616;
        border-color: #1f1f1f;
        background-position: 0 0;
        background-size: 100% 400%;
        transition: background-position .5s;
        background-image: linear-gradient(180deg, #414141, #2d2d2d 25%, #2d2d2d 50%, #2d2d2d);
        display: block;
        width: 100%;
        color: #fff;
        font-family: Helvetica Bold, Arial Bold, sans-serif;
        font-size: 13px;
        line-height: 52px;
        text-align: center;
        text-decoration: none;
            text-transform: uppercase;
    }
}
.colors-exterior {
    text-transform: uppercase;
}
#raq {
    background-color: #f00000;
    background-image: linear-gradient(#f00000, #cd0000);
    font-weight: 800;
}