@import 'variables';
.colors-header {
    margin-bottom: 40px;
    font-size: $build-section-header;
    text-align: center;
    padding-top: 50px;
}
.colors-container{
    display: flex;
    width: $site-width;
     margin: 0 auto;
     background-color: #fff;
     padding: 30px 25px 34px 40px;
     text-align: left;
    box-shadow: 0 0 6px rgba(43,43,43,.1);
}
.colors-head {
        margin-bottom: 35px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
}
.main-exterior-colors {
    padding: 2px 0 0 2px;
    display: flex;
    max-width: 495px;
    flex-wrap: wrap;
}

.colors-item-wrapper {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 8px;
    background-size: auto 100%;
    transition: -webkit-transform .1s ease-in;
    transition: transform .1s ease-in;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 0 rgba(43, 43, 43, .3);
}
.colors-item-selected{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 8px;
    background-size: auto 100%;
    transition: -webkit-transform .1s ease-in;
    transition: transform .1s ease-in;
    border: 3px solid #09f;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 0 rgba(43, 43, 43, .3);
    .colors-item-selected:after {
        content: url('../../images/svg/colorscheck.svg');
        display: block;
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    background-color: transparent;
        z-index: 1;
    }
}

.interior-image {
    background-image: url('https://www.toyota.com/config/pub/static/images/TOY/2016/tacoma/interiorcolor/onswatchimage/f3a0384cb7d8c9a55dbfc88254c201a333f054806342ccd8f8cfb2a8bb29877e90d8aeb6353d937e805feeb200af39a5a944524053c149550474b3949a0a0419_my16-tacoma-DC-interior-on-TRD_OFFROAD_Graphite_FD15_v149_002.jpg');
}

.orange-int {
    background-image: url('https://www.toyota.com/config/pub/static/images/TOY/2016/tacoma/interiorcolor/onswatchimage/fe7fefd019e7ade080e279f7f4eef3d1ee6d4f357008d405c5d55c6db4e6d041896c417fd8da9bd487bc840654b990b9eb9e983eb6c2d8a22359372d7c6e2d9f_my16-tacoma-DC-interior-on-TRD_OFFROAD_Black_FD24_v149_002.jpg');
}

.color-item-selected {
    
    border: 3px solid #09f;
    border-radius: 8px;
   
}

.color-title {
    color: #999;
    letter-spacing: .025em;
    font-weight: 500;
}

.selected-title {
    color: #000;
    letter-spacing: .033em;
}