<div class="slider">
  <div class="slide" ng-repeat="image in images" ng-show="image.visible">
    <img ng-style="set_size(image)" ng-src="{{image.src}}" />
  </div>
  <div class="arrows" ng-click="prev()">
    	<i class="fa fa-caret-right" aria-hidden="true"></i>
    <!--<a  >
      <img src="img/left-arrow.png" />
    </a>
    <a  >
      <img src="img/right-arrow.png" />
    </a>-->
    
  </div>
  <div class="arrowsleft" ng-click="next()">
    
	
		<i  class="fa fa-caret-left" aria-hidden="true"></i>
    
    
  </div>
</div>