<!--================== Build All Page ============================-->
<div class="build-all-header-wrapper">
    <h1>Build Your Toyota</h1>
    <h2>Customize your own Toyota car, truck, SUV, crossover, hybrid or minivan by selecting the below models to get started.</h2>
    <h3>Cars & Minivans</h3>
</div>
<!--
<div class="build-all-section-wrapper">
    <div class="build-all-wrap">
        <img src="./app/images/BuildandPrice-all/201786.png">
    <div class="title"><span>2017</span> 86</div>
    <div class="msrp-build-all"><span>$26,255</span><sup>1</sup>  Starting MSRP</div>
    <div class="as-shown">$26,2551 As Shown</div></a>
    </div> 
</div>-->



<!--my original piece-->
<!--<div class="build-all-section-container">
    <div ui-sref="build-tacoma" class="build-all-wrap">
        <img src="./app/images/BuildandPrice-all/201786.png">
        <car-title><span>2017</span> 86</car-title>
        <div class="msrp-build-all"><span>$26,255</span><sup>1</sup>  Starting MSRP</div>
        <div class="as-shown">$26,2551 As Shown</div>
    </div> 
    </div>-->

<div class="alert alert-info">
        <h5><strong>Hello!</strong></h5><br> This site is partial clone of Toyota.com. By clicking on the "build and price" tab
        on their <a href="https://www.toyota.com/configurator/" target="_blank">site</a> you will get a page just like this.
        There are minor variations due to a custom font I was unable to replicate. They have also added and deleted vehicles
        since I made this site in May/June 2017.<br><br> As my <a href="https://github.com/murffious/Toyota.com-Clone" target="_blank">GitHub repository</a>        states I cloned many features. Currently the only vehicle that has a route to see here is the 2017 Tacoma. So go
        ahead and click that truck to 'build and price' it for eventual purchase. See my other work <a href="https://murffious.github.io/personal-portfolio/" target="_blank" >here</a>.<br>
        <a href="#" class="close" data-dismiss="alert"> <span onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>Ok, got it!</span></a>
        <br>
    </div>
<div class="carsandvanswrap">
    <div ng-repeat="car in getCarsAndVans1" class="build-all-section-container">
        <div ui-sref="build-tacoma" class="build-all-wrap">
            <img src="{{car.imageurl}}">
            <car-title><span>{{car.year}}</span> {{car.model}}</car-title>
            <div class="msrp-build-all"><span>${{car.pricestartingmsrp}}</span><sup>1</sup> Starting MSRP</div>
            <div class="as-shown">${{car.priceasshown}}<sup>1</sup> As Shown</div>
        </div>
    </div>
</div>
 
 <div class="build-all-section-head-wrap"> 
 <h3 class="build-all-section-head">Trucks</h3>
</div>
<div class="carsandvanswrap">
    <div ng-repeat="car in gettrucks1" class="build-all-section-container">
        <div ui-sref="build-tacoma" class="build-all-wrap">
            <img src="{{car.imageurl}}">
            <car-title><span>{{car.year}}</span> {{car.model}}</car-title>
            <div class="msrp-build-all"><span>${{car.pricestartingmsrp}}</span><sup>1</sup> Starting MSRP</div>
            <div class="as-shown">${{car.priceasshown}}<sup>1</sup> As Shown</div>
        </div>
    </div>
</div>

<div class="build-all-section-head-wrap"> 
<h3 class="build-all-section-head">Crossovers & SUVs</h3>
</div>
<div class="carsandvanswrap">
    <div ng-repeat="car in getcrossovers1" class="build-all-section-container">
        <div ui-sref="build-tacoma" class="build-all-wrap">
            <img src="{{car.imageurl}}">
            <car-title><span>{{car.year}}</span> {{car.model}}</car-title>
            <div class="msrp-build-all"><span>${{car.pricestartingmsrp}}</span><sup>1</sup> Starting MSRP</div>
            <div class="as-shown">${{car.priceasshown}}<sup>1</sup> As Shown</div>
        </div>
    </div>
</div>
<div class="build-all-section-head-wrap"> 
<h3 class="build-all-section-head">Hybrids & FCV</h3>
</div>
<div class="carsandvanswrap">
    <div ng-repeat="car in gethybrids1" class="build-all-section-container">
        <div ui-sref="build-tacoma" class="build-all-wrap">
            <img src="{{car.imageurl}}">
            <car-title><span>{{car.year}}</span> {{car.model}}</car-title>
            <div class="msrp-build-all"><span>${{car.pricestartingmsrp}}</span><sup>1</sup> Starting MSRP</div>
            <div class="as-shown">${{car.priceasshown}}<sup>1</sup> As Shown</div>
        </div>
    </div>
</div>