<h1>{{broken}}</h1>
<!---->
<div class="tacoma-build-top-wrap">
  <div><span>YOUR BUILD</span>
  <span>2017 Tacoma SR</span>
  </div>
<div class="gray-half-top-wrap">

</div>
  <div class="slideshow-container">
    <div class="mySlides fade">
      <!--<div class="numbertext">1 / 3</div>-->
      <img src="./app/images/build-tacoma-home/sr-1.png" style="width:100%">
    </div>
    <div class="mySlides fade">
      <!--<div class="numbertext">2 / 3</div>-->
      <img src="./app/images/build-tacoma-home/sr-2.png" style="width:100%">
    </div>
    <div class="mySlides fade">
      <!--<div class="numbertext">3 / 3</div>-->
      <img src="./app/images/build-tacoma-home/sr-3.png" style="width:100%">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <div style="text-align:center">
    <span>Exterior</span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span>Interior</span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
  <span>$24,320</span>
  <span>Starting MSRP<sup>1</sup></span>
  <button>Request A Quote</button>
</div>
<nav class="build-tacoma">
  <div class="tacoma-nav-container">
    <div>
      <span>Grade</span>
    </div>
    <div>
      <span>Cabs &amp; Beds</span>
    </div>
    <div>
      <span>Configuration</span>
    </div>
    <div>
      <span>Colors</span>
    </div>
    <div>
      <span>Packages</span>
    </div>
    <div>
      <span>Accessories</span>
    </div>
    <div>
      <span>Summary</span>
    </div>

  </div>
</nav>