<slider1></slider1>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    width="114.76px" height="100px" viewBox="0 0 114.76 100" enable-background="new 0 0 114.76 100" xml:space="preserve">
    <polyline points="114.76,13.267 101.498,0 38.092,71.262 12.484,39.866 0,53.911 37.591,100 "></polyline>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="36.77" height="36.77" viewBox="0 0 36.77 36.77">
    <g stroke="#FFF" stroke-width="2" stroke-miterlimit="10">
        <path d="M.707 36.062L36.062.707M36.062 36.062L.707.707"></path>
    </g>
</svg>




<!--
<nav class="build-tacoma">
        <div class="tacoma-nav-container">
            <div ng-class="{active:item == 1}" ng-click="opencontent(1)">
                <img src="./app/images/svg/gradetruck.svg">
                <p>Grade</p>
            </div>
            <div ng-class="{active:item == 2}" ng-click="opencontent(2)">
                <img src="./app/images/svg/cabandbeds.svg">
                <p>Cabs &amp; Beds</p>
            </div>
            <div>
                <img src="./app/images/svg/configuremotor.svg">
                <p>Configuration</p>
            </div>
            <div>
                <img src="./app/images/svg/colors.svg">
                <p>Colors</p>
            </div>
            <div>
                <img src="./app/images/svg/packages.svg">
                <p>Packages</p>
            </div>
            <div ng-class="{active:item == 6}" ng-click="opencontent(6)">
                <img src="./app/images/svg/accessories.svg">
                <p>Accessories</p>
            </div>
            <div "{active:item == 7}" ng-click="opencontent(7)">
                <p>Summary</p>
            </div>

        </div>
    </nav>-->