<div class="config-motor-header">
    Select From 3 Configurations
</div>

<div class="config-motor-view-container">
    <div ng-repeat="config in trdconfiguration" id="tacoma-configmotor-build-card">
        <div class="card-content">
            <div class="config-motor-card-title">{{config.motorcombo}}</div>
            <div>{{config.transmission}}</div>
            <dl>
                <dd>{{config.details1}}</dd>
                <dd>{{config.details2}}</dd>
                <dd>{{config.details3}}</dd>
                <dd>{{config.details4}}</dd>
                <dd>{{config.details5}}</dd>
                <dd ng-if="config.details6 && config.disclaimer">{{config.details6}}<sup>{{config.disclaimer}}</sup></dd>
            </dl>
        </div>
        <button class="select-button" ng-class="{ 'selected-button': $index == selectedIndex }" ng-click="itemClicked($index);  addToSummary(config)">
            <span ng-hide="$index == selectedIndex" >SELECT</span>
            <span  ng-show="$index == selectedIndex" ><i class="fa fa-check" aria-hidden="true"></i>  SELECTED</span></button>
    </div>
</div>












