<div class="summary-header">Summary</div>

<div class="summary-container">
    <section class="head">
        <h2>{{summary[0].year}} {{summary[0].model}} {{summary[0].grade}}<a href="#" class="edit" data-step="color">Edit</a></h2>
        <h3>4x4, {{summary[0].details_1}}, 6-Speed Automatic {{summary[2].type}}</h3>
    </section>
    <section class="starting-msrp">
        <h4>STARTING MSRP</h4>
        <div class="price">${{summary[0].price}}</div>
    </section>
    <div class="summary-colors-wrap">
        <section class="colors-exterior">
            <h4>Exterior Color<a href="#" class="edit" data-step="color">Edit</a></h4>
            <div style="background-color: #494848" href="" class="color-item" data-code="01G3" title="MAGNETIC GRAY METALLIC"></div>
            <span class="title" itemprop="color">MAGNETIC GRAY METALLIC</span>

            <div class="price">
                $0
            </div>
        </section>
        <section class="colors interior">
            <h4>Interior Color<a href="#" class="edit" data-step="color">Edit</a></h4>
            <div style="background-image: url('/config/pub/static/images/TOY/2016/tacoma/interiorcolor/onswatchimage/f3a0384cb7d8c9a55dbfc88254c201a333f054806342ccd8f8cfb2a8bb29877e90d8aeb6353d937e805feeb200af39a5a944524053c149550474b3949a0a0419_my16-tacoma-DC-interior-on-TRD_OFFROAD_Graphite_FD15_v149_002.jpg');"
                href="" class="color-item" id="1004850" data-code="FD15" title="Fabric in Graphite with Gunmetal Accent Stitching"></div>
            <span class="title">Fabric in Graphite with Gunmetal Accent Stitching</span>
            <div class="price">
                $0
            </div>
        </section>
    </div>
    <section class="packages">
        <h4>Packages<a href="#" class="edit" data-step="package">Edit</a></h4>
        <div class="price">
            $650
        </div>
        <div class="package_list">
            <div class="package_item">
                <span class="package_title">V6 Tow Package<sup >49</sup></span>
                <span class="package_price">$650</span>
            </div>
        </div>
    </section>
    <section class="accessories">
        <h4>Accessories<a href="#" class="edit" data-step="accessory">Edit</a></h4>
        <div class="price">
            $200
        </div>
        <div class="accessory_list">
            <div class="accessory_item">
                <span class="accessory_title">Alloy Wheel Locks<sup data-code="installed_msrp" data-disclaimer="installed_msrp">44</sup></span>
                <span class="accessory_price">$80</span>
            </div>
            <div class="accessory_item">
                <span class="accessory_title">Bed Mat<sup data-code="installed_msrp" data-disclaimer="installed_msrp">44</sup></span>
                <span class="accessory_price">$120</span>
            </div>
        </div>
    </section>
    <section class="model-msrp">
        <h4>MSRP</h4>
        <div class="price">$36,605</div>
    </section>
    <section class="delivery-price">
        <h4>DELIVERY, PROCESSING & HANDLING FEE</h4>
        <div class="price">$960</div>
    </section>
    <section class="total-msrp">
        <h4>TOTAL MSRP (MSRP) (AS BUILT)<sup>12</sup></h4>
        <div id="total-msrp" class="price">$36,123</div>
    </section>
    <nav class="summary-buttons">
        <div><a></a>Search Inventory</a>
        </div>
        <div>Local Specials</div>

        <div ng-click='toggleModal()' id="raq">Request a Quote</div>


    </nav>
    <modal-dialog show='modalShown' width='750px' height='90%'>
        <div>
            <h2>Contact A Dealer</h2>
        </div>
        <div class"raq-main">
            <div class"summary-content-container">
    <p>Your 2017 Tacoma SR</p>

            </div>
            <div class "dealer-select">
                <h3>SELECT A DEALER</h3><input placeholder="Enter Zip">
                <div>
                    <dealer><span>Brent Brown Toyota</span></dealer>
                    <a>VIEW MORE DEALERS</a>
                </div>
            </div>
            <div>
                <h3>Your Contact Information</h3>
                <div><span>*Required</span></div>
                <div class="input-section">
                    <input class="input-textarea" placeholder="FIRST NAME*">
                    <input class="input-textarea" placeholder="LAST NAME*">
                    <input class="input-textarea" placeholder="EMAIL*">
                    <input class="input-textarea" placeholder="PHONE">
                    <input class="input-textarea" placeholder="ADDRESS">
                    <input class="input-textarea" placeholder="CITY">
                    <input class="comments-input" placeholder="COMMENTS">
                </div>
            </div>

            <button id="quote-submitbtn">SUBMIT</button>
        </div>


    </modal-dialog>
    <!--   ng-click="vm.openModal('custom-modal-1')"
<raqmodal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" ng-model="vm.bodyText" />
            </p>
            <button >Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</raqmodal>-->
    <!--this is test for cart-->
    <!--<div ng-repeat="product in products">
    <div ng-click="addToCart(product)">
      <h1>Name: {{product.name}}</h1>
      <p>Price: {{product.price | currency}}</p>
    </div>
  </div>

  <h1>Cart</h1>
  <ul ng-repeat="product in cart">
    <li>Name: {{product.name}}</li>
  </ul>-->
</div>