<div class="grades-sub-header">Select From 6 Grades</div>
<div class="grades-view-container">

    <!--Grade Card to Copy-->
    <div ng-repeat="grade in tacomagrades" id="tacoma-grade-build-card">
        <img src="{{grade.imageurl}}">
        <div class="card-content">
            <div class="grade-title">{{grade.grade}}</div>
            <div class="msrp-mpg-wrap">
                <div>${{grade.price}}
                    <p>starting msrp<sup>1</sup></p>
                </div>
                <div class="mpg">{{grade.fuel_efficiency}}
                    <p>est. mpg<sup>2</sup></p>
                </div>
            </div>
            <dl>
                <dd>{{grade.details_1}}</dd>
                <dd>{{grade.details_2}}</dd>
            </dl>
            <button id="view-details-button">VIEW DETAILS</button>
            <button>COMPARE</button>
        </div>
        <!--card content-->


        <!--class="select-button" ng-class="{'class': $index == selectedIndex}"-->
        <!--{'select-button' :toggle, 'seleceted-button': !toggle}-->
        <!--toggle = !toggle; itemClicked($index); addToSummary(grade);-->
        <!--this is most recent semi working button-->

        <button class="select-button" ng-class="{ 'selected-button': $index == selectedIndex }" ng-click="itemClicked($index); changeSliderPhotos(grade.id); addToSummary(grade); getPriceandTitleChange(grade);">
            <span ng-hide="$index == selectedIndex" >SELECT</span>
            <span  ng-show="$index == selectedIndex" ><i class="fa fa-check" aria-hidden="true"></i>  SELECTED</span></button>
            

            <!--ng-hide="showme"ng-click="showme=false;ng-if="selectedIndex = $index"-->
            
            <!--<button ng-class="class" ng-click="select($index); addToSummary(grade);">
            <span>SELECT</span>

            <button  class='selected-button'  ng-click="select($index); addToSummary(grade);">
            <span ><i class="fa fa-check" aria-hidden="true"></i>  SELECTED</span></button>-->
            
            
            
            
        <!--<button ng-class="class" ng-click="changeClass(); toggle = !toggle">{{toggleText}}</button>-->
        <!--<button class="selected-button"><i class="fa fa-check" aria-hidden="true"></i>  SELECTED</button>-->
        <div class="grade-card-footer">
            <div class="comes-in">COMES IN:</div>
            <div>{{grade.availcab}}</div>
            <div>{{grade.availbed}}</div>
        </div>
    </div>
    
</div>
<!--container for width-->

<!--maybe make a directive for each tab-->

