<div class="cabs-header">Select From 3 Cabs &amp; Beds</div>
<div class="cabs-beds-view-container">
    <div ng-repeat="cabbed in trdcabsbeds" id="tacoma-cabs-beds-build-card">
        <div class="card-content">
            <div class="cabs-card-title">{{cabbed.type}}</div>
            <dl>
                <dd>{{cabbed.feature1}}</dd>
                <dd>{{cabbed.feature2}}</dd>
                <dd>{{cabbed.feature3}}</dd>
                <dd>{{cabbed.feature4}}</dd>
                <dd>{{cabbed.feature5}}</dd>
                <dd ng-if="cabbed.feature6">{{cabbed.feature6}}</dd>
                <hr/>
                <dt>Inside bed:</dt>
                <dd>{{cabbed.bedfeature1}}</dd>
                <dd>{{cabbed.bedfeature2}}</dd>
                <dd>{{cabbed.bedfeature3}}</dd>
            </dl>
        </div>
        <button class="select-button">SELECT</button>
    </div>
    </div>